{% load custom_template_filters %}
<table class="table table-bordered blink-me">

    <tr>
        <th colspan="2">Request status</th>
    </tr>

    <tr>
        <td>XMPP Connection Req. queued:</td>
        <td>{{ acs_device.connection_request | truefalseicon | safe }}</td>
    </tr>

    <tr>
        <td>Reconfigure:</td>
        <td><span>{{ acs_device.config_level_old | truefalseicon | safe }}</span></td>
    </tr>

    <tr>
        <td>Full parameters req.:</td>
        <td><span>{{ acs_device.full_parameters_request | truefalseicon | safe }}</span></td>
    </tr>

    <tr>
        <td>FactoryDefault req.:</td>
        <td>{{ acs_device.factory_default_request | truefalseicon | safe }}</td>
    </tr>

</table>
