{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block head_title %}Create ACS Queue Job{% endblock head_title %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
<div class="card card-default">
    <div class="card-header"><h4>Create ACS Queue Job</h4></div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% include 'includes/submit-button.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}

